@media only screen and (min-width : 300px) and (max-width: 500px)
{.list1{
  overflow-y: auto;
  max-height: 150px;
}}


@media only screen and (min-width : 501px) and (max-width: 1000000px)
{.list1{
  overflow-y: auto;
  max-height: 250px;
}
}
.list{
  /* background-color: rgb(134, 10, 10); */
  background-image: radial-gradient(circle, black, rgb(122, 4, 4));
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
    
}
.listGrid {
  display: grid;
  grid-template-columns: 20% 10% 15% 15% 30% 10%  ;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}
.listGrid1 {
  display: grid;
  grid-template-columns: 20% 5% 15% 15% 30% 10%  ;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: 10px;
}
.listItem {
  padding: 5px;
  font-size: 17px;
}
.listButton1{
  color: rgb(134, 10, 10);
  margin: -5px;
}
.listButton{
  color: rgb(31, 14, 131);
  margin: -5px;
}
